<div class="content app-contact">
  <div class="contact">
    <div>
      <h1>
        Informacion de <br>
        <span>contacto</span>
      </h1>
      <p>
        <i class="material-icons">location_on</i>
        Medellin, Ant.
      </p>
      <p>
        <i class="material-icons">phone</i>
        Telefono:
        <a href="tel:+573122673240">312 267 3240</a>
      </p>
      <p>
        <i class="material-icons">email</i>
        Mail:
        <a href="mailto:matew17@gmail.com">matew17@gmail.com</a>
      </p>
      <p>
        <a>Has clic en el chat para hablar con nosotros.</a>
      </p>
    </div>

    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253821.43534578668!2d-75.73648126831621!3d6.269000714247109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428ef4e52dddb%3A0x722fd6c39270ac72!2sMedellin%2C+Antioquia!5e0!3m2!1sen!2sco!4v1508946719672"
        frameborder="0">
      </iframe>
    </div>
  </div>
</div>