.about {
	align-items: center;
	background: #222;
	display: flex;
	flex-direction: row;
	padding: 50px 0 0;
	width: 100%;

	.logo {
		padding: 16px;
		width: 60%;

		img {
			width: 100%;
		}
	}

	.text {
		padding: 16px;
		width: 40%;

		h1 {
			font-size: 50px;
			margin: 0 0 24px;
			color: #fff;
			
			span {
				color: #5a5a5a;
			}
		}

		.description {
			color: #fff;
			font-size: 24px;
			font-weight: 400;
			margin: 24px 0 0;
		}
	}
}
